.head{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 24px;
}
.outer{
    display: flex;
    width: 100%;
    margin: 10px;
   
    
}
.outer_1{
    padding-right: 10px;
   
}
.lists{
     height: 300px; 
     background-color: aquamarine;
}