body{
    background-color: rgba(241, 241, 241, 0.507);
}

.container1{
    border: none;
    border-radius: 20px;
    padding: 150px;
    margin-right: 10%;
    margin-top: 50px;
    width: 40%;
    text-align: center;
    float: right;
    background-color: #f0f0f0
}
.input-box{
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid;
}