/* *{
    margin: 20px;
} */

.container{
    text-align: center;
    margin-top: 20px;
}
.cbtn{
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    margin: 5px;
    border: none;
}
/* .modal{
    background-color: #E2F6E2;
} */
.main{
    text-align: center;
}
#btn1{
    background-color: #FDEF44;
}
#btn2{
    background-color: #FAC835;
}
#btn4{
    background-color: #9950AC;
}
#btn3{
    background-color: #8FD14F;
}
#btn5{
    background-color: #2E9BF0;
}
#btn6{
    background-color: #694DB4;
}
#btn7{
    background-color: #808080;
}
#newbtn{
    height: 60px !important;
    align-items: center;
}
#chooseboard{
    font-size: 20px;
    text-align: center;
}